@import "bootstrap";
.n1
{
    align-content: center;

}
.cl
{
    color: red;
}
.panel-title
{
    color: blueviolet;
   
}
// table,td
// {
    
//         border: 1px solid black;
      
// }
.bd
{
    color: black;
}
.scrollbar{
    border: 3px solid black;
    border-radius: 10px  ;
    width:1130px;
    overflow-y: auto;
    height: 650px;
}
img
{
    border-radius: 10%;
   
    display: block;
  margin-left: auto;
  margin-right: auto;
}
img:hover {

    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  table {
      border: 2px solid black;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    overflow: scroll;
    
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    
  }
 .sc{
     color: red;
 }