<center><h1>Edit Your Notes </h1></center>
<div class="row">
    <div class="col-md-6">
    {{#comn-view item=model}}
      <button class="btn btn-success" {{action 'savenote' model}} >Save Changes</button>
    {{/comn-view}}
    </div>
</div>
