<center><h1>Create Your Notes </h1></center>
<div class="row">
    <div class="col-md-6">
      {{#comn-view item=model c="create Notes" f="createnote"}}
      {{!-- <button  class="btn btn-success" {{action 'createnote' model}} >Create</button> --}}
      {{/comn-view}}
    </div>
</div>