<center><h1>Create Your Notes </h1></center>
  <div class="row">
    <div class="col-md-6">
      {{comn-view item=model btnText="create Notes" f=createnote}}
      {{!-- <button onclick={{action "test"}}>Clear</button> --}}
    </div>
  </div>